.univer{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin: 50px;

}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.all-cards .card {
    margin-top: 50px;
    transition: transform .2s; 
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.all-cards .card:hover{
    background-color: azure;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.all-cards .card .img-text{
    display: flex;
    justify-content: space-around;
}
.all-cards .card .img-text img{
    padding: 20px;
    width: 400px;
    height: 200px;
}
.all-cards .card .img-text .card-text{
    padding: 80px;
}

